Options +FollowSymLinks
RewriteEngine On

RewriteBase /modiWeb/

DirectoryIndex page.php?_page=index sitedown.php

RewriteRule		^admin/$					admin/index.php					[NC]
RewriteRule		^error([0-9]+)$				error.php?e=$1					[NC]
RewriteRule		^headermaker$				headermaker.php					[NC]
RewriteRule		^([a-z_]+)$					page.php?_page=$1				[NC,L]

RewriteCond 	%{ENV:REDIRECT_STATUS} 200
RewriteRule 	.* 							- 								[L]

ErrorDocument 400 /modiWeb/error.php?e=400
ErrorDocument 401 /modiWeb/error.php?e=401
ErrorDocument 403 /modiWeb/error.php?e=403
ErrorDocument 404 /modiWeb/error404
ErrorDocument 408 /modiWeb/error.php?e=408
ErrorDocument 429 /modiWeb/error.php?e=429
ErrorDocument 500 /modiWeb/error.php?e=500
ErrorDocument 501 /modiWeb/error.php?e=501
ErrorDocument 502 /modiWeb/error.php?e=502
ErrorDocument 503 /modiWeb/error.php?e=503
ErrorDocument 504 /modiWeb/error.php?e=504
ErrorDocument 505 /modiWeb/error.php?e=505
ErrorDocument 508 /modiWeb/error.php?e=508