body {
	padding: 0px;
	margin: 0px;
}
#footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-top: 1px solid #000;
	width: 100%;
}
#footer p {
	margin: 2px;
}
p {
	font-family: Verdana, serif;
}
#header {
	
}