@font-face {
    font-family: theano;
    src: url('../fonts/theano.ttf') format('truetype');
}
.borderAll * {
	border: 1px solid #f00;
}
html {
	margin: 0px 0px 5px;
}
body {
	background: #fff;
	font-size: 100%;
	padding: 0px;
	margin: 0px;
}
* {
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	word-break: break-word;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;
	text-indent: 10px;
	margin: 5px 0px;
	text-align: justify;
}
label {
	font-size: 0.8em;
}
:not(a) > p, :not(a) > h1, :not(a) > h2, :not(a) > h3, :not(a) > pre, :not(a) > label {
	color: #116F50;
	white-space: pre-line;
}
a:not(img) {
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	color: #D22F4F;
}
:not(p) > a:not(img) {
	font-size: 0.8em;
}
a:not([href="#"]):hover, *[onclick]:hover {
	color: #EE5573;
}
*[onclick] {
	color: #D22F4F;
	cursor: pointer;
}
a[href="#"]:not([onclick]) {
	color: #116F50;
	cursor: default;
}
a img {
	border: none;
}
#content a img:not(.imgbutton):not(.imgNotLinked) {
	border: initial;
	border-bottom: 2px solid #EE5573;
	border-width: 0px;
	margin-bottom: initial;
	transition: border-width 200ms, border-radius 200ms, margin-bottom 200ms;
}
#content a img:not(.imgbutton):not(.imgNotLinked):hover {
	border-radius: 0px 0px 10px 10px;
	margin-bottom: -5px;
	border-width: 5px;
	transition: border-width 200ms, border-radius 200ms, margin-bottom 200ms;
}
h1,h2,h3 {
	font-family: theano, Times New Roman, serif;
	line-height: 100%;
	margin: 5px;
}
#content > h1,#content > h2,#content > h3 {
	margin: 20px 5px 5px;
}
h1 *,h2 *,h3 * {
	font-family: inherit;
}
h1 {
	font-size: 2.4em;
	margin-bottom: 10px;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.4em;
}
img {
	max-width: 100%;
	max-height: 100%;
}
ul {
	margin: 2px 0px;
	padding: 0px;
	list-style-position: inside;
}

#grey {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #000;
	opacity: 0;
	transition: opacity 500ms;
}
.on{
	opacity: 0.8;
}

.bordered {
	border: 1px solid #aaa;
	border-color: #aaa;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	transition: border-color 200ms;
}
.bordered:hover {
	border-color: #888;
}

#header {
}
#headerContent {
	background: #4B9417;
	border-bottom: 2px solid;
	border-color: #265108;
	padding: 10px;
	box-shadow: 0px 0px 60px 0px #000;
}
.menu {
	margin: 0px;
}
.menu ul {
    list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.menu li {
	line-height: 20pt;
	font-size: 1.4em;
}
.submenu li {
	line-height: 16pt;
	font-size: 1.2em;
}
.disabledMenu {
	display: none;
}
.menu .link {
	background: #FFA55B;
	border: 5px solid #FFA55B;
	border-color: #FFA55B;
	text-align: center;
	display: inline-block;
	padding: 4px 0px;
	transition: border-color 200ms;
}
.submenu .link {
	border-width: 3px;
}
.menu .link a {
	color: #fff;
	padding: 0px 20px;
	height: 100%;
	display: block;
}
.menu div:not(.submenu):first-of-type ul li:last-of-type {
	border-radius: 0px 0px 10px 0px;
}
.submenu ul li:last-of-type {
	border-radius: 0px 5px 10px 0px;
}
.menu .menuActive:not(:hover) {
	border-color: #FFA55B #FFA55B #E28233 #FFA55B;
}
.menu .menuActive:hover {
	border-color: #FFCBA0 #FFA55B #E28233 #FFA55B;
}
.menu div li:not(.menuActive):hover {
	border-color: #FFCBA0 #FFA55B #FFA55B #FFA55B;
}
.submenus {
	max-height: 100px;
	overflow: hidden;
	transition: max-height 200ms;
}
@keyframes pulse {
	0% { border-color: #FFB577; }
	50% { border-color: #FFCBA0; }
	100% { border-color: #FFB577; }
}
@-webkit-keyframes pulse {
	0% { border-color: #FFB577; }
	50% { border-color: #FFCBA0; }
	100% { border-color: #FFB577; }
}
@-moz-keyframes pulse {
	0% { border-color: #FFB577; }
	50% { border-color: #FFCBA0; }
	100% { border-color: #FFB577; }
}
@-ms-keyframes pulse {
	0% { border-color: #FFB577; }
	50% { border-color: #FFCBA0; }
	100% { border-color: #FFB577; }
}
@-o-keyframes pulse {
	0% { border-color: #FFB577; }
	50% { border-color: #FFCBA0; }
	100% { border-color: #FFB577; }
}
.markedMenu {
	-webkit-animation: pulse 1s linear infinite;
	-moz-animation: pulse 1s linear infinite;
	-ms-animation: pulse 1s linear infinite;
	-o-animation: pulse 1s linear infinite;
	animation: pulse 1s linear infinite;
}

#dialog {
	position: fixed;
	top: 30%;
	width: 100%;
	text-align: center;
	opacity: 0;
	display: none;
	transition: opacity 500ms;
}
#dialog > div {
	margin: auto;
	width: 30%;
	padding: 1%;
	box-shadow: 0px 0px 50px 0px #000;
}
#dialog h3 {
	text-align: center;
}
#dialog p {
	border: 1px solid #fff;
	text-indent: 0px;
	display: inline-block;
	margin: 0px;
	padding: 5% 18%;
	margin: 5% 0%;
}
#dialog p:hover {
	border-color: #ccc;
}

#content {
	display: block;
	padding: 0px 10px 0px;
	word-wrap: break-word;
}
#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	border-top: 1px solid #260E78;
	background: #4B9417;
	width: 100%;
	box-shadow: 0px 0px 10px 0px #000;
}
#footer p {
	margin: 2px;
	text-align: center;
	color: #fff;
}

table p {
	display: inline;
}
table {
	border-collapse: collapse;
}
.tableLinks tr:hover td {
	background: #FA9DAF;
}
.tableLinks tr:hover td a {
	background: #EE5573;
}
/*
				INPUT
*/
input {
	border: 1px solid #A75A1A;
	border-radius: 10px;
	color: #116F50;
	transition: border 200ms;
}
input:hover {
	border: 1px solid #FFA55B;
}
input[type="text"],input[type="password"] {
	padding: 3px 10px;
	background: linear-gradient(180deg, #ddd, #fff);
}
input[type="button"],input[type="submit"] {
	padding: 2px 10px; 
	background: linear-gradient(180deg, #fff, #ddd);
}
input[type="file"] {
	padding: 0px 10px 0px 0px;
	border-radius: 0px 10px 10px 0px;
	color: #116F50;
	background: linear-gradient(180deg, #fff, #ddd);
}
input[type="radio"] {
	display: inline;
}
select {
	border: 1px solid #A75A1A;
	padding: 2px 10px;
	border-radius: 10px;
	color: #116F50;
	background: linear-gradient(180deg, #fff, #ddd);
	transition: border 200ms;
}
select:hover {
	border: 1px solid #FFA55B;
}
.inputChoice {
	padding: 2px;
}
input[type=radio] {
	display: none;
}
input[type=radio] + label {
	border-bottom: 1px solid #fff;
	border-bottom-color: rgba(0, 0, 0, 0);
	color: #D22F4F;
	cursor: pointer;
	margin: 0px 2px;
	padding: 2px;
	border-radius: 5px;
}
input[type=radio] + label:hover {
	color: #F5728C;
}
input[type=radio]:checked + label {
	border-bottom-color: rgba(156, 24, 50, 255);
}
/*
				POPUP MESSAGES
*/
#msg {
	position: fixed;
	top: 8%;
	margin-left: -10px;
	width: 100%;
	z-index: 500;
	text-align: center;
	transition: opacity 1s;
}
#msg > div {
	margin: auto;
	width: 70%;
	box-shadow: 0px 0px 50px 10px #000;
}
#msg p {
	margin: 0px;
}
.warning {
	color: #f00;
}
.notice {
	color: #000;
}
.warning:before {
	content: url(../img/warning.png);
	margin-right: 5px;
}
.notice:before {
	content: url(../img/notice.png);
	margin-right: 5px;
}
pre {
	display: block;
	font-family: Monospace;
	border: 1px solid #aaa;
	border-radius: 10px;
	padding: 5px;
	cursor: text;
}
.info {
	color: #888;
	font-style: italic;
}

table {
	margin: 5px 0px;
}
table * {
	vertical-align: middle;
}
table tr td {
	padding: 5px;
}
table tr td p {
	text-indent: 0px;
}
table tr th {
	text-align: left;
}
.linkedDiv {
	padding: 5px;
}
.linkedDiv:hover {
	background: #ffd6dd;
}
.bold {
	font-weight: bold;
}
.only {
	margin: 0px;
	padding: 0px;
	display: inline;
}
.tablehorizontal tr th {
	padding: 5px 5px 2px;
}
.tablevertical tr  td {
	padding: 2px 5px;
}
.group {
	margin: -5px 5px 5px;
}
.grouptitle {
	position: relative;
	top: 15px;
	left: 20px;
	background: #fff;
	border: 1px solid #000;
	border-width: 0px 1px;
	border-radius: 5px;
	margin: px 0px 10px;
	padding: 0px 10px;
	line-height: 100%;
	cursor: default;
	display: inline-block;
}
.groupcontent {
	border: 1px solid #000;
	border-radius: 10px;
	padding: 20px 10px 10px;
	min-width: 100px;
}
.group .groupcontent:not(.groupcontentDisabled) {
	max-height: 500px;
	overflow: hidden;
	transition: max-height 200ms;
}
.group .groupcontentDisabled {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 200ms;
}
.group p {
	text-indent: 0px;
}
.tabcell{
	display: table-cell;
}
.edit {
	color: #00f;
	font-size: inherit;
	font-family: inherit;
	border: 5px solid;
	border-width: 0px 2px;
	margin: 0px -2px;
	border-radius: 15%;
}
.imgbutton {
	border: 1px solid #fff;
	border-radius: 22px;
	background: #fff;
	cursor: pointer;
	transition: border 500ms, background 500ms;
}
.imgbutton:hover {
	border: 1px solid #000;
	background: #000;
}
div .button {
	display: inline-block;
	background: #ddd;
	background: linear-gradient(180deg, #eee, #ccc);
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #aaa;
}
div .button p {
	color: #D22F4F;
	text-indent: 0px;
	margin: 0px;
}
div .button:hover {
	background: #eee;
	background: linear-gradient(180deg, #ddd, #eee);
}
div .button:hover  p {
	color: #EE5573;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
.doSpin {
	-webkit-animation-play-state: running;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-play-state: running;
	-moz-animation-name: spin;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-play-state: running;
	-ms-animation-name: spin;
	-ms-animation-duration: 2s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-transition: rotate(3600deg);
}
.but_spin img {
	-webkit-animation-play-state: paused;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-play-state: paused;
	-moz-animation-name: spin;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-play-state: paused;
	-ms-animation-name: spin;
	-ms-animation-duration: 1s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-transition: rotate(3600deg);
}
.but_spin img:hover {
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	-ms-animation-play-state: running;
}

#popup {
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0;
	display: none;
	background: #fff;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 0px;
	text-align: center;
	text-indent: 0px;
	cursor: default;
	word-wrap: break-word;
	z-index: 5;
	box-shadow: 0px 0px 10px -1px #000;
	transition: opacity 500ms, top 100ms, left 100ms;
}
.window {
	padding: 5px;
	margin: 0px;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 10px;
}
.tabWindow {
	width: 100%;	
	max-width: 800px;
	border-radius: 10px;
	border: 1px solid #ccc;
}
.tabWindow > div > .tabHeader {
	cursor: pointer;
	border: 1px solid #ccc;
	border-width: 0px;
	padding: 5px;
	background: #eee;
	transition: color 200ms, background 200ms, border-width 200ms, border-radius 200ms;
}
.tabWindow > div > .tabHeader * {
	color: #D22F4F;
	font-weight: bold;
	text-indent: 0px;
	margin: 0px;
	padding: 0px;
}
.tabWindow > div > .tabHeader:hover * {
	color: #EE5573;
}
.tabWindow > div:not(:last-of-type) > .tabHeader {
	border-width: 0px 0px 1px 0px;
}
.tabWindow > div:last-of-type > .tabHeader {
	border-radius: 0px 0px 10px 10px;
}
.tabWindow > div:first-of-type > .tabHeader {
	border-radius: 10px 10px 0px 0px;
}
.tabWindow > div:first-of-type:last-of-type > .tabHeader {
	border-radius: 10px;
}
.tabWindow > div > .tabHeader:hover {
	background: #f6f6f6;
}
.tabWindow > div > div:nth-of-type(2) {
	margin: 0px;
	min-height: 0px !important;
	padding: 0px 5px;
	overflow: hidden;
	max-height: 0px;
	transition: max-height 400ms, padding 400ms;
}
.tabWindow > .openedTab > div:nth-of-type(2) {
	max-height: 400px;
	padding: 5px 5px;
}
.tabWindow > .openedTab > .tabHeader {
	border-width: 0px 0px 1px;
}
.tabWindow > .openedTab:last-of-type > .tabHeader {
	border-radius: 0px;
}
.tabWindow > div~.openedTab:not(:first-of-type) > .tabHeader {
	border-radius: 0px;
}
.tabWindow > .openedTab:last-of-type:first-of-type > .tabHeader {
	border-radius: 10px 10px 0px 0px;
}

.adminNewsItem:nth-of-type(1) {
	margin: 0px 0px 10px;
}
.adminNewsItem:last-of-type {
	margin: 10px 0px 0px;
}
.adminNewsItem {
	border: 1px solid #aaa;
	border-radius: 20px;
	margin: 10px 0px;
	padding: 10px;
}

.admineditable {
	position: fixed;
	top: 5px;
	left: 5px;
	border: 1px solid #000;
	border-radius: 20px;
	padding: 20px;
	background: #FCE5E9;
	transition: background 200ms;
}
.admineditable:hover {
	background: #FCD1D9;
}
#admineditfull {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #fff;
	margin: 0px;
	padding: 10px;
	display: none;
	z-index: 10;
}
#admineditfull form {
	height: 84%;
	height: calc(100% - 100px);
}
#admineditfull textarea {
	width: 95%;
	width: calc(100% - 30px);
	height: 100%;
	border-radius: 10px 10px 0px 0px;
	clear: both;
	resize: none;
	overflow: auto;
	padding: 5px;
}
#admineditfull input[type="submit"] {
	width: 95%;
	width: calc(100% - 18px);
}
#adminedit {
	position: fixed;
	left: 50%;
	top: 50%;
	width: auto;
	height: auto;
	display: none;
	z-index: 9;
}
#adminedit div {
	border: 1px solid #000;
	border-radius: 10px 10px 0px;
	background: #fff;
	padding: 5px;
	position: relative;
	left: -150px;
	top: -100px;
	overflow: hidden;
}
#adminedit input[type="submit"], #admineditfull input[type="submit"] {
	border-radius: 0px 0px 10px 10px;
}
#adminedit input[type="submit"] {
	width: 100%;
}
#admineditfull input[type="submit"] {
	width: 100%;
	width: calc(100% - 18px);
}
#adminedit textarea {
	min-width: 300px;
	min-height: 100px;
	border-radius: 10px 10px 0px 0px;
	clear: both;
	width: 100%;
	width: calc(100% - 10px);
	height: 100%;
	resize: both;
	overflow: auto;
	padding: 5px;
}

#adminedit * {
	display: block;
}
#adminedit a img{
	float: right;
	margin: 0px 2px 5px;
}
#admineditfull > div {
	float: right;
	margin: 0px 20px 0px;
	clear: both;
}
#admineditmoveable {
	cursor: move;
	background: #fff;
}
#admineditmoveable:hover {
	cursor: move;
	border-color: #fff;
	background: #eee;
}
.edit {
	color: #E28233;
	border-color: #4B9417;
}
.edit:hover {
	color: #FFA55B;
}

#pageeditor {
	margin: 0px;
	padding: 0px;
}
#pageeditor > div, #pageeditor > p, #pageeditor > a, #pageeditor > h1, #pageeditor > h2, #pageeditor > h3, #pageeditor > table, #pageeditor > ul, #pageeditor > span {
	cursor: pointer;
	transition: background 200ms;
}
#pageeditor > div:hover, #pageeditor > p:hover, #pageeditor > a:hover, #pageeditor > h1:hover, #pageeditor > h2:hover, #pageeditor > h3:hover, #pageeditor > table:hover, #pageeditor > ul:hover, #pageeditor > span:hover {
	background: #FCD1D9;
}
#pageeditor .marked {
	background: #FA9DAF;
}
.pageeditmenu {
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 10px;
	border: 1px solid #000;
	background: #fff;
	border-radius: 20px 0px 0px 20px;
	height: 80%;
	height: calc(100% - 70px);
	width: 360px;
	overflow-y: auto;
	transition: height 500ms, width 1s;
}
.pageeditmenu * {
	width: initial;
}
.pageeditmenu p {
	cursor: default;
}
.pageeditmenu table tr td:nth-child(2) {
	padding: 2px;
	width: 100%;
}
.pageeditmenu textarea {
	width: 90%;
	overflow: hidden;
	border: 1px solid #A75A1A;
	border-radius: 10px 10px 0px 10px;
	color: #116F50;
	padding: 3px 10px;
	background: linear-gradient(180deg, #ddd, #fff);
}
.pageeditmenu #toolsDatabase {
	width: 80%;
}
.pageeditmenu h2 {
	cursor: pointer;
	transition: color 100ms;
}
.pageeditmenu h2:hover {
	color: #6DC72D;
}
.thumb50 {
	max-width: 50px;
	max-height: 50px;
}
.pageeditmenu img {
	margin: 1px;
}
.pageeditmenu .tool {
	opacity: 1;
	visibility: visible;
	transition: opacity 200ms linear;
}
.pageeditmenu .tool * {
	word-break: normal;
}
.pageeditmenu .grouptitle h3 {
	cursor: pointer;
	color: #116F50;
	transition: color 200ms;
}
.pageeditmenu .grouptitle:hover h3 {
	color: #3DAC87;
}
.pageeditmenu .disabledTool {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 200ms, opacity 200ms linear;
}
.pageeditmenu select {
	cursor: pointer;
	width: 100%;
}
#content * {
	min-height: 5px;
	min-width: 5px;
}

.req:after {
	content: "*";
	color: #f00;
}
.subtext {
	margin: 0px;
	padding: 2px;
	max-width: initial;
	text-align: center;
	font-style: italic;
	text-indent: 0px;
	overflow: hidden;
	word-wrap: break-word;
}
.img {
	border: 1px solid #bbb;
	background: #fff;
	padding: 5px;
	margin: 5px;
}
.img img {
	border: none;
	margin: 0px;
	padding: 0px;
	display: block;
}
.subtext:empty {
	display: none;
}

.documentationtable td {
	vertical-align: top;
}
.documentationtable td:first-child {
	width: 100px;
}

.linkList > a {
	border-radius: 20px;
	border: 1px solid #000;
	background: #fff;
	transition: background 200ms;
}
.linkList > a:hover > div:not(:first-child) {
	background: #fee;
}
.linkList > a * {
	vertical-align: middle;
}
.linkList > a > div:not(:first-child) {
	padding: 4px;
}
.linkList > a > div:first-child {
	padding: 0px 20px 0px 0px;
}

/* Specials */
.secondTdFull tr td:nth-of-type(2) *:not(input[type="checkbox"]) {
	overflow: hidden;
	margin: 0px;
	padding: 3px;
	width: 100%;
}
