#shopSortBy {
	border-radius: 10px 0px 0px 10px;
	height: 25px;
}
#shopSortDir {
	border-radius: 0px 10px 10px 0px;
	height: 25px;
	position: relative;
	left: -10px;
}
.product * {
	font-size: 0.9em;
}
#products {
	margin: 0px;
	padding: 10px 0px 20px;
}

#filterMenu {
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-top: 10px;
}
#filterMenu form {
	display: table-cell;
	margin: 0px 5px;
}

.product {
	display: inline-block;
	width: 150px;
	height: 150px;
	text-align: center;
}
.product div:first-child {
	text-align: center;
	border: 1px solid #ccc;
	margin: 10px 5px 5px;
	border-radius: 10px;
	padding: 5px;
	overflow: hidden;
	background: #fff;
	transition: border-color 200ms;
}
.product:nth-child(1) {
	margin-left: 0px;
}
.product div:first-child:hover {
	border-color: #888;
}
.product .name {
	margin: 0px 0px 5px;
	font-weight: bold;
}
.product .price {
	margin: 0px;
}
.product .priceSale {
	color: #f00;
}
.productImg {
	height: 100px;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	padding: 0px 0px 5px;
}
.product img {
	border: 1px solid #aaa;
	max-width: 100px;
	max-height: 100px;
	margin: 0px;
	padding: 0px;
}
.buyWindow {
	display: inline-block;
	padding: 10px;
	border: 1px solid #aaa;
	text-align: center;
}
.buyWindow p {
	text-indent: 0px;
}
.buyButton {
	display: inline-block;
	width: 100px;
	height: 40px;
	background: #8DE251;
	text-align: center;
	color: #D22F4F;
	font-size: 1.8em;
	border-radius: 10px;
	border: 3px solid #6DC72D;
	border-color: #4B9417;
	transition: border-color 200ms, background 200ms, color 200ms;
}
.buyButton:hover {
	background: #A3EE6F;
	border-color: #6DC72D;
	color: #EE5573;
}
.buyButtonSmall {
	display: inline-block;
	width: 80px;
	height: 20px;
	background: #8DE251;
	text-align: center;
	color: #D22F4F;
	font-size: 1em;
	border-radius: 5px;
	border: 3px solid #6DC72D;
	border-color: #4B9417;
	transition: border-color 200ms, background 200ms, color 200ms;
}
.buyButtonSmall:hover {
	background: #A3EE6F;
	border-color: #6DC72D;
	color: #EE5573;
}

#shoppingCart {
	margin: 5px 5px 5px 0px;
	box-shadow: 0 0 0px #fff;
	padding: 10px;
	transition: background 400ms, box-shadow 400ms;
}
#shoppingCart p {
	text-indent: 0px;
	margin: 0px;
}
#shoppingCartList tr td {
	padding: 3px 5px 3px 0px;
}
.bigShoppingCart {
	margin-top: 20px;
	width: 100%;
	max-width: 800px;
}
.bigShoppingCart tr td{
	border: 1px solid #ccc;
	border-width: 1px 0px 1px 0px;
}
.bigShoppingCart tr td:first-child{
	border: 1px solid #ccc;
	border-width: 1px 0px 1px 1px;
}
.bigShoppingCart tr td:last-child{
	border: 1px solid #ccc;
	border-width: 1px 1px 1px 0px;
}
.bigShoppingCart td {
	padding: 0px 10px 4px 2px;
}
.bigShoppingCart tr td:nth-child(1) {
	width: 22px;
}
.bigShoppingCart tr td:nth-child(2) {
	width: 75px;
}
.bigShoppingCart tr td:nth-child(4) {
	width: 15%;
}

.shop_steps {
	background: #ddd;
	border: 1px solid #aaa;
	width: 100%;	
	max-width: 800px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	margin-bottom: 10px;
}
.shop_steps a {
	display: inline-block;
	text-align: center;
	height: 100%;
	width: 20%;
	max-width: 160px;
}
.shop_steps a:first-child {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.shop_stepsCurrent {
	background: #eee;
	margin: 0px;
}
.shop_stepsCurrent:not(.last .done):hover {
	background: #f6f6f6;
}
.shop_stepsCurrent.last:not(.done)+a:hover {
	background: #eee;
	background: linear-gradient(-90deg, #eee, #ddd);
	border-radius: 0px 20px 20px 0px;
}
.shop_steps .last {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
.shop_steps .error {
	background: #faa;
}
.shop_steps .done {
	background: #afa;
}
.shop_steps .done:last-of-type {
	border-radius: 0px 20px 20px 0px;
}
#shop_tabWindows {
	width: 100%;	
	max-width: 800px;
	cursor: pointer;
}
#shop_tabWindows > div {
	background: #ddd;
	border: 1px solid #ccc;
	border-color: #ccc;
	padding: 5px;
	transition: color 200ms, background 200ms, border-color 400ms;
}
#shop_tabWindows .tabHeader {
	font-weight: bold;
	color: #D22F4F;
}
#shop_tabWindows > div:hover {
	background: #eee;
	color: #EE5573;
}
#shop_tabWindows > div > div:first-of-type + div {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	max-height: 0px;
	transition: max-height 400ms, padding 400ms;
}
